# Composer
/vendor/
composer.lock

# PHP specific
*.log
*.cache
*.tmp
*.swp
*.swo

# IDEs and Editors
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache

# Composer environment
/.composer/

# Logs and temp files
*.log
*.sql
*.sqlite

# .env file
.env
